#Database
SQL_DATABASE=Inception
SQL_USER=aborel

#Admin
DOMAIN_NAME=Inception
WP_ADMIN=aborel
WP_ADMIN_EMAIL=austincborel@gmail.com

#User
WP_USER=Xavier.Niel
WP_USER_EMAIL=xavierniel@free.fr

#Passwords
WP_ADMIN_PASS=
SQL_PASSWORD=
WP_USER_PASS=
